$selectedColor: #e0e0e0;
$lighterBlue: #1867c0;

.components-list {
    padding: 8px;
    box-sizing: border-box;
    height: 100%;
    .components-item {
        display: inline-block;
        width: 48%;
        margin: 1%;
        transition: transform 0ms !important;
    }
}

.components-title {
    font-size: 14px;
    color: #222;
    margin: 6px 2px;
}

.components-draggable {
    padding-bottom: 20px;
}

.components-body {
    padding: 8px 10px;
    background: $selectedColor;
    font-size: 12px;
    cursor: move;
    border: 1px dashed $selectedColor;
    border-radius: 3px;
    .svg-icon {
        color: #777;
        font-size: 15px;
    }
    &:hover {
        border: 1px dashed #1565c0;
        background: #e3f2fd;
        color: #1565c0;
        .v-icon {
            color: #1565c0;
        }
    }
}

.canvas-body {
    .v-card {
        border: 1px dashed #999;
    }
}

.canvas-item-body {
    background: $selectedColor;
    cursor: move;
    border: 1px dashed $selectedColor;
    border-radius: 3px;
    &:hover {
        border: 1px dashed #1565c0;
        background: #e3f2fd;
        color: #1565c0;
        .v-icon {
            color: #1565c0;
        }
    }
}
